* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Barlow", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/imgs/desktop/image-header.jpg");
  background-size: cover; /* برای اینکه تصویر کل عنصر رو بپوشونه */
  background-position: center; /* تصویر رو وسط قرار بده */
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 25px;
}

.navbar .nav-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding-right: 50px;
}

.navbar .nav-items li {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
}

.navbar .nav-items li a {
  text-decoration: none;
  color: hsl(0, 100%, 100%);
}

.navbar .nav-items li:nth-last-child(1) a {
  background-color: hsl(0, 100%, 100%);
  color: hsl(212, 27%, 19%);
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 20px;
}

.navbar .nav-items li:nth-last-child(1) a:hover {
  background-color: hsl(0, 100%, 100%, 0.2);
  color: hsl(0, 100%, 100%);
}

.main-header {
  margin: 70px auto;
  text-align: center;
}

.main-header p {
  color: hsl(0, 100%, 100%);
  font-size: 38px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}

.main-header img {
  /* width: 25px; */
  height: 80px;
  margin-top: 60px;
}

.section__1 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.section__1 img {
  /* flex: 1; */
  width: 50%;
  height: 500px;
}

.section__1 .item {
  display: flex;
}

.section__1 .item--1 {
  justify-content: space-between;
}

.section__1 .item .context {
  /* flex: 1; */
  width: 33%;
  /* margin-top: 150px; */
  margin: 110px auto 0;
  padding: 35px;
}

.section__1 .item .context h2 {
  font-family: "Fraunces", serif;
  font-size: 34px;
  font-weight: 800;
}

.section__1 .item .context p {
  font-size: 15px;
  line-height: 25px;
  color: hsl(210, 4%, 67%);
  font-weight: 550;
  margin: 30px 0;
}

/* .section__1 .item .context a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: hsl(212, 27%, 19%);
  font-weight: 950;
  z-index: 2;
  position: relative;
}

.section__1 .item--1 .context a::after {
  content: "";
  position: absolute;
  background-color: hsl(51, 90%, 79%);
  border-radius: 10px;
  bottom: -3px;
  left: -5px;
  width: 110%;
  height: 10px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.section__1 .item--1 .context a::after:hover {
  background-color: hsl(51, 100%, 49%);
}

.section__1 .item--1 .context a:hover::after {
  background-color: hsl(51, 100%, 49%);
}

.section__1 .item--2 .context a::after {
  content: "";
  position: absolute;
  background-color: hsl(7, 95%, 84%);
  border-radius: 10px;
  bottom: -3px;
  left: -5px;
  width: 110%;
  height: 10px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.section__1 .item--2 .context a:hover::after {
  background-color: hsl(7, 99%, 70%);
} */

/* commen properties for all links */
.section__1 .item--1 .context a,
.section__1 .item--2 .context a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: hsl(212, 27%, 19%);
  font-weight: 950;
  z-index: 2;
  position: relative;
  display: inline-block;
}

.section__1 .item--1 .context a::after,
.section__1 .item--2 .context a::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  bottom: -3px;
  left: -5px;
  width: 110%;
  height: 10px;
  z-index: -1;
  transition: background-color 0.3s ease;
}

/* defualt color for each link */
.section__1 .item--1 .context a::after {
  background-color: hsl(51, 90%, 79%);
}

.section__1 .item--2 .context a::after {
  background-color: hsl(7, 95%, 84%);
}

/* color in hover state */
.section__1 .item--1 .context a:hover::after {
  background-color: hsl(51, 100%, 49%);
}
.section__1 .item--2 .context a:hover::after {
  background-color: hsl(7, 99%, 70%);
}

.section__2 {
  display: flex;
  position: relative;
}

.section__2 .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  /* padding-top: 450px; */

  /* position: absolute; */
}

.section__2 .item .context {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  width: 45%;
  text-align: center;
}

.section__2 .item .context h3 {
  font-size: 22px;
  font-weight: 950;
  font-family: "Fraunces", serif;
  margin-bottom: 25px;
  /* margin-top: 290px; */
}

.section__2 .item .context p {
  font-size: 14px;
  /* color: hsl(168, 24%, 36%); */
  font-weight: 500;
  line-height: 25px;
  /* padding: 25px 185px 0; */
}

.section__2 .item--1 .context p,
.section__2 .item--1 .context h3 {
  color: hsl(167, 40%, 24%);
}

.section__2 .item--2 .context p,
.section__2 .item--2 .context h3 {
  color: hsl(198, 62%, 26%);
}

.section__2 .item--1 {
  flex: 1;
  background-image: url("/assets/imgs/desktop/image-graphic-design.jpg");
}

.section__2 .item--2 {
  flex: 1;
  background-image: url("/assets/imgs/desktop/image-photography.jpg");
}

.section__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  gap: 50px;
  /* text-align: center; */
}

.section__3 h2 {
  font-family: "Fraunces", serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: hsl(210, 4%, 67%);
}

.section__3 .client-section {
  display: flex;
  padding: 50px 100px;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  gap: 50px;
}

.section__3 .client-section .item {
  width: 28%;
  /* display: inline; */
  /* text-align: center; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__3 .client-section .item img {
  width: 25%;
  border-radius: 50%;
}

.section__3 .client-section .item p.client-comment {
  margin: 70px 0;
  /* font-size: 1px; */
  font-weight: 600;
  line-height: 26px;
  color: hsl(213, 9%, 39%);
}

.section__3 .client-section .item h4 {
  font-family: "Fraunces", serif;
  /* font-size: 14px; */
  margin-bottom: 10px;
  /* font-weight: 900; */
}

.section__3 .client-section .item p.job-title {
  font-size: 16px;
  color: hsl(210, 4%, 67%);
  font-weight: 500;
}
